/*-------------------------- generel ------------------------------------*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: arial, sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

section {
	max-width: 1200px;
	margin: auto;
}

p {
	line-height: 1.5;
	padding-top: 10px;
}

/*-------------------------- menu ------------------------------------*/

.logo {
	width: 5rem;
	margin: auto;
	margin-top: 15px;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 5vh;
}

.nav_links {
	display: flex;
	justify-content: space-around;
	width: 25rem;
	background-color: white;
	z-index: 1;
}

.nav_links li {
	list-style: none;
}

.nav_links a {
	color: black;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
}

.burger {
	display: none;
	cursor: pointer;
}

/*-------------------------- forside ------------------------------------*/


#sky_midt {
	background-image: url(img/sky_midt.svg);
	background-size: contain;
	position: absolute;
	top: 86vw;
	right: 0;
	width: 30vw;
	height: 23vw;
	opacity: 0%;

}

#forgrund {
	background-image: url(img/forside_forgrund.PNG);
	background-size: contain;
	width: 250vw;
	height: 126.6vw;
	position: absolute;
	top: 105px;
	left: -75vw;
	pointer-events: none;
}

#sky_ned {
	background-image: url(img/sky_ned.svg);
	background-size: contain;
	position: absolute;
	top: 120vw;
	right: 0;
	width: 36vw;
	height: 21vw;
	opacity: 0%;
}

#mellemgrund {
	background-image: url(img/forside_mellemgrund.PNG);
	background-size: contain;
	width: 250vw;
	height: 126.6vw;
	position: absolute;
	top: 105px;
	left: -75vw;
	pointer-events: none;
}

#sky_op {
	background-image: url(img/sky_op.svg);
	background-size: contain;
	position: absolute;
	top: 50vw;
	right: 0;
	width: 32vw;
	height: 17vw;
	opacity: 0%;
}

#sky_top {
	background-image: url(img/sky_top.svg);
	background-size: contain;
	position: absolute;
	top: 33vw;
	right: 0;
	width: 27vw;
	height: 17vw;
	opacity: 0%;
}

#baggrund {
	background-image: url(img/forside_baggrund.JPG);
	background-size: contain;
	width: 250vw;
	height: 126.6vw;
	position: absolute;
	top: 105px;
	left: -75vw;
	pointer-events: none;
}

.grene {
	position: absolute;
	bottom: -0;
	right: 0;
	pointer-events: none;
	max-width: 986px;
}

/*-------------------------- animation ------------------------------------*/

.movement_top {
	animation-name: top_kf;
	animation-duration: 42s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-timing-function: linear;
	animation-delay: 12s;
}

@keyframes top_kf {
	0% {
		opacity: 0%;
		transform: translateX(0vw);
	}

	5% {
		opacity: 100%;
		transform: translateX(-5vw);
	}

	100% {
		opacity: 100%;
		transform: translateX(-115vw);
	}
}

.movement_op {
	animation-name: op_kf;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-timing-function: linear;
}

@keyframes op_kf {
	0% {
		opacity: 0%;
		transform: translateX(0vw);
	}

	5% {
		opacity: 100%;
		transform: translateX(-5vw);
	}

	100% {
		opacity: 100%;
		transform: translateX(-115vw);
	}
}

.movement_midt {
	animation-name: midt_kf;
	animation-duration: 50s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-timing-function: linear;
	animation-delay: 8s;
}

@keyframes midt_kf {
	0% {
		opacity: 0%;
		transform: translateX(0vw);
	}

	5% {
		opacity: 100%;
		transform: translateX(-5vw);
	}

	100% {
		opacity: 100%;
		transform: translateX(-115vw);
	}
}

.movement_ned {
	animation-name: ned_kf;
	animation-duration: 60s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-timing-function: linear;
	animation-delay: 18s;
}

@keyframes ned_kf {
	0% {
		opacity: 0%;
		transform: translateX(0vw);
	}

	5% {
		opacity: 100%;
		transform: translateX(-5vw);
	}

	100% {
		opacity: 100%;
		transform: translateX(-115vw);
	}
}

/*-------------------------- om ------------------------------------*/

.om_section {
	padding: 30px;
	background-color: #ffe4ce;
}

.gren {
	width: 0;
}



/*-------------------------- portfolie ------------------------------------*/

.portfolie_section1,
.portfolie_section2,
.portfolie_section3,
.portfolie_section4 {
	margin-bottom: 20px;
	height: 100%;
	padding: 30px;
}

.projekt {
	background-color: white;
	width: 100px;
	padding: 5px;
	margin: 20px 0px;
	border-radius: 5px;
}

.projekt a {
	display: block;
	color: black;
	text-decoration: none;
	text-align: center;

}

.portfolie_section1 {
	background-color: #e1d6f7;
}

.portfolie_section2 {
	background-color: #ffe4ce;
}

.portfolie_section3 {
	background-color: #c6d9f4;
}

.portfolie_section4 {
	background-color: #ffe3e7;
}

/*---------------------------------------------------------- mobil menu -------------------------------------------------------------*/

@media (max-width: 550px) {
	header {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.logo {
		grid-column: 2/3
	}

	body {
		overflow-x: hidden;
	}

	.nav_links {
		position: absolute;
		right: 0;
		height: 20rem;
		top: 6rem;

		display: flex;
		flex-direction: column;

		align-items: center;
		width: 100%;
		transform: translateX(100%);
		transition: transform 0.3s;
	}

	.burger {
		display: block;
		font-size: 35px;
	}
}

.nav_active {
	transform: translateX(0%);
}

/*-----------------------------------------------------tablet version-------------------------------------------------------*/

@media (min-width: 550px) {

	/*-----------------portfolie---------------*/
	.portfolie_section1,
	.portfolie_section2,
	.portfolie_section3,
	.portfolie_section4 {
		padding: 50px;
	}



	/*-------------------om--------------------*/

	#due {
		background-image: url(img/due.gif);
		background-size: contain;
		width: 9vw;
		height: 14vw;
		position: absolute;
		bottom: -36vw;
		right: 19vw;
		cursor: pointer;
	}

	.due_click {
		background-image: url(img/due3.svg);
		background-size: contain;
		width: 12.5vw;
		height: 14vw;
		position: absolute;
		bottom: -35.9vw;
		right: 18.6vw;
	}

	.gren {
		position: absolute;
		bottom: -40vw;
		right: 0;
		pointer-events: none;
		width: 45vw;
	}

	.hidden {
		visibility: hidden;
	}

	.om_section {
		padding: 50px;
	}

	/*---------------- forside ----------------------*/

	#sky_midt {
		top: 39vw;
		right: 0;
		width: 14vw;
		height: 11vw;
	}

	#forgrund {
		width: 88vw;
		height: 44.6vw;
		top: 135px;
		left: 6vw;
	}

	#sky_ned {
		top: 51vw;
		right: 0;
		width: 19vw;
		height: 11vw;
	}

	#mellemgrund {
		width: 88vw;
		height: 44.6vw;
		top: 135px;
		left: 6vw;
	}

	#sky_op {
		top: 29vw;
		right: 0;
		width: 18vw;
		height: 10vw;
	}

	#sky_top {
		top: 24vw;
		right: 0;
		width: 16vw;
		height: 10vw;
	}

	#baggrund {
		width: 88vw;
		height: 44.6vw;
		top: 135px;
		left: 6vw;
	}

	#hide1 {
		background-image: url(img/hide.svg);
		background-size: contain;
		position: absolute;
		top: 135px;
		left: 0;
		width: 6vw;
		height: 45vw;

	}

	#hide2 {
		background-image: url(img/hide.svg);
		background-size: contain;
		position: absolute;
		top: 135px;
		right: 0;
		width: 6vw;
		height: 45vw;
	}

	.grene {
		bottom: -0;
		right: 0;
		max-width: 100%;
	}

}

/*-------------------------------------------------- desktop version ------------------------------------*/

@media (min-width: 800px) {

	/*-------------------------- om ------------------------------------*/

	#due {
		;
		bottom: 4vw;
		right: 19vw;
	}

	.due_click {
		bottom: 4.1vw;
		right: 18.6vw;
	}

	.gren {
		bottom: -0;
		right: 0;
	}

	.om_section {
		display: grid;
		grid-template-columns: 1fr 1fr;
		height: 100%;
		padding: 50px;
	}

	.om_text {
		margin-left: 30px;
	}

	/*-----------nav------------*/


	nav {
		padding-bottom: 15px;
	}

	/*------------portfolie---------------*/

	.portfolie_section1,
	.portfolie_section2,
	.portfolie_section3,
	.portfolie_section4 {
		padding: 50px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}

	.info {
		margin-right: 30px;
	}

	.img2 {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	.info2 {
		grid-column: 2/3;
		grid-row: 1/2;
		margin-left: 30px;
	}

	/*--------------forside-----------*/

	#sky_midt {
		top: 30vw;
	}

	#sky_ned {
		top: 40vw;
	}

	#sky_op {
		top: 20vw;
	}

	#sky_top {
		top: 15vw;
	}


}
