/*-------------------------- generel ------------------------------------*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: arial, sans-serif;
}

body {
	margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
}

section {
	background-color: #e5e5e5;
	width: 100%;
	height: 100%;
	max-width: 1200px;
	margin: auto;
}

/*-------------------------- menu ------------------------------------*/

.logo {
	width: 5rem;
	margin: auto;
	margin-top: 15px;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 5vh;
}

.nav_links {
	display: flex;
	justify-content: space-around;
	width: 25rem;
	background-color: white;
}

.nav_links li {
	list-style: none;
}

.nav_links a {
	color: black;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
}

.burger {
	display: none;
	cursor: pointer;
}

/*-------------------------- forside ------------------------------------*/

.forside_section {
	height: 80vh;
}

/*-------------------------- om ------------------------------------*/

.om_section {
	padding: 20px;
}

/*-------------------------- portfolie ------------------------------------*/

.portfolie_section1,
.portfolie_section2,
.portfolie_section3,
.portfolie_section4 {
	margin-bottom: 20px;
	height: 100%;
	padding: 20px;
}

.projekt {
	background-color: white;
	width: 100px;
	padding: 5px;
	margin: 20px 0px;
	border-radius: 5px;
}

.projekt a {
	display: block;
	color: black;
	text-decoration: none;
	text-align: center;

}

/*-------------------------- mobil menu ------------------------------------*/

@media (max-width: 550px) {
	header {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.logo {
		grid-column: 2/3
	}

	body {
		overflow-x: hidden;
	}

	/*
	.nav_links {
		position: absolute;
		right: 0;
		height: 20rem;
		top: 7rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		transform: translateX(100%);
		transition: transform 0.3s;
		transform-origin: top left;
	}
*/

	.nav_links {
		position: absolute;
		right: 0;
		height: 20rem;
		top: 6rem;

		display: flex;
		flex-direction: column;

		align-items: center;
		width: 100%;
		transform: translateX(100%);
		transition: transform 0.3s;
	}

	.burger {
		display: block;
		font-size: 35px;
	}
}

.nav_active {
	transform: translateX(0%);
}

/*-------------------------- tablet version ------------------------------------*/

@media (min-width: 800px) {
	.om_section {
		display: grid;
		grid-template-columns: 1fr 1fr;
		height: 100%;
		padding: 50px;
	}

	.om_text {
		margin-left: 30px;
	}

	nav {
		padding-bottom: 15px;
	}

	.forside_section {
		height: 75vh;
	}

	.portfolie_section1,
	.portfolie_section2,
	.portfolie_section3,
	.portfolie_section4 {
		padding: 50px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}

	.info {
		margin-right: 30px;
	}

	.img2 {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	.info2 {
		grid-column: 2/3;
		grid-row: 1/2;
		margin-left: 30px;
	}


}
