/*-------------------------- generel ------------------------------------*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: arial, sans-serif;
}

body {
	margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
}

section {
	max-width: 1200px;
	margin: auto;
}

p {
	line-height: 1.5;
	padding-top: 10px;
}

/*-------------------------- menu ------------------------------------*/

.logo {
	width: 5rem;
	margin: auto;
	margin-top: 15px;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 5vh;
}

.nav_links {
	display: flex;
	justify-content: space-around;
	width: 25rem;
	background-color: white;
	z-index: 1;
}

.nav_links li {
	list-style: none;
}

.nav_links a {
	color: black;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
}

.burger {
	display: none;
	cursor: pointer;
}

/*-------------------------- forside ------------------------------------*/


wrapper {
	position: relative;
}

#sky_midt {
	background-image: url(img/sky_midt.svg);
	background-size: contain;
	position: absolute;
	top: 25vw;
	right: 0;
	width: 14vw;
	height: 11vw;

}

#forgrund {
	background-image: url(img/forside_forgrund.PNG);
	background-size: contain;
	width: 88vw;
	height: 44.6vw;
	position: absolute;
	top: 135px;
	left: 6vw;
	pointer-events: none;
}

#sky_ned {
	background-image: url(img/sky_ned.svg);
	background-size: contain;
	position: absolute;
	top: 40vw;
	right: 0;
	width: 19vw;
	height: 11vw;
}

#mellemgrund {
	background-image: url(img/forside_mellemgrund.PNG);
	background-size: contain;
	width: 88vw;
	height: 44.6vw;
	position: absolute;
	top: 135px;
	left: 6vw;
	pointer-events: none;
}

#sky_op {
	background-image: url(img/sky_op.svg);
	background-size: contain;
	position: absolute;
	top: 15vw;
	right: 0;
	width: 18vw;
	height: 10vw;
}

#baggrund {
	background-image: url(img/forside_baggrund.JPG);
	background-size: contain;
	width: 88vw;
	height: 44.6vw;
	position: absolute;
	top: 135px;
	left: 6vw;
	pointer-events: none;
}

#hide1 {
	background-image: url(img/hide.svg);
	background-size: contain;
	position: absolute;
	top: 135px;
	left: 0;
	width: 6vw;
	height: 45vw;

}

#hide2 {
	background-image: url(img/hide.svg);
	background-size: contain;
	position: absolute;
	top: 135px;
	right: 0;
	width: 6vw;
	height: 45vw;
}

.grene {
	position: absolute;
	bottom: -0;
	left: 0;
	pointer-events: none;
}

/*-------------------------- animation ------------------------------------*/

.movement {
	animation-name: movement_kf;
	animation-duration: 25s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-timing-function: linear;
}

@keyframes movement_kf {
	0% {
		transform: translateX(0vw);
	}

	100% {
		transform: translateX(-120vw);
	}
}

/*-------------------------- om ------------------------------------*/

.om_section {
	padding: 20px;
	background-color: #ffe4ce;
}

/*-------------------------- portfolie ------------------------------------*/

.portfolie_section1,
.portfolie_section2,
.portfolie_section3,
.portfolie_section4 {
	margin-bottom: 20px;
	height: 100%;
	padding: 20px;
}

.projekt {
	background-color: white;
	width: 100px;
	padding: 5px;
	margin: 20px 0px;
	border-radius: 5px;
}

.projekt a {
	display: block;
	color: black;
	text-decoration: none;
	text-align: center;

}

.portfolie_section1 {
	background-color: #e1d6f7;
}

.portfolie_section2 {
	background-color: #ffe4ce;
}

.portfolie_section3 {
	background-color: #c6d9f4;
}

.portfolie_section4 {
	background-color: #ffe3e7;
}

/*-------------------------- mobil menu ------------------------------------*/

@media (max-width: 550px) {
	header {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.logo {
		grid-column: 2/3
	}

	body {
		overflow-x: hidden;
	}

	/*
	.nav_links {
		position: absolute;
		right: 0;
		height: 20rem;
		top: 7rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		transform: translateX(100%);
		transition: transform 0.3s;
		transform-origin: top left;
	}
*/

	.nav_links {
		position: absolute;
		right: 0;
		height: 20rem;
		top: 6rem;

		display: flex;
		flex-direction: column;

		align-items: center;
		width: 100%;
		transform: translateX(100%);
		transition: transform 0.3s;
	}

	.burger {
		display: block;
		font-size: 35px;
	}
}

.nav_active {
	transform: translateX(0%);
}

/*-------------------------- tablet version ------------------------------------*/

@media (min-width: 800px) {
	.om_section {
		display: grid;
		grid-template-columns: 1fr 1fr;
		height: 100%;
		padding: 50px;
	}

	.om_text {
		margin-left: 30px;
	}

	nav {
		padding-bottom: 15px;
	}

	.forside_section {
		height: 75vh;
	}

	.portfolie_section1,
	.portfolie_section2,
	.portfolie_section3,
	.portfolie_section4 {
		padding: 50px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}

	.info {
		margin-right: 30px;
	}

	.img2 {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	.info2 {
		grid-column: 2/3;
		grid-row: 1/2;
		margin-left: 30px;
	}


}
